
.theme-bg-surface{
    background-color: #F6F1F1 !important;
}

.theme-bg-primary{
    background-color: #FFFFFF !important;
}

.theme-bg-secondary{
    background-color: #19A7CE !important;
}

.theme-bg-tertiary{
    background-color: #146C94 !important;
}

.theme-bg-text{
    color: #146C94 !important;
}

.form-textarea{
    height: 125px !important;
}
.sample{
    background-color: gray;
}
/* #pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .pagination .page-item {
    margin-right: 0.5rem;
  }

  .pagination .page-item.disabled .page-link {
    display: none;
  }

  .pagination .page-item.disabled + li.page-item:not(.active) {
    margin-left: -0.5rem;
  }

  .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
  } */
  .fa-btn{
    background-color: violet;
    border: none;
    color: white;
  }
  .fa-btn:hover{
    background-color: violet;
    border: none;
    color: black;
  }
  .btn-engla{
    background-color: rgb(140, 59, 231);
    border: none;
    color: white;
  }
  .btn-engla:hover{
    background-color: rgb(140, 59, 231);
    border: none;
    color: black;
  }
  .tool1_txt{
    font-size: 2rem;
  }
  .div-engla{
    background-color: rgb(140, 59, 231);
  }
  .div-fa{
    background-color: violet;
  }
  .process-btn{
    color: white;
    background-color: rgb(47, 195, 221);
    border: transparent;
  }
  .process-btn:hover{
    color: black;
    background-color: rgb(47, 195, 221);
    border: transparent;
  }
  .process-btn-fa{
    background-color:rgb(197, 62, 209);
    border: transparent;
    color: white;
  }
  .process-btn-fa:hover{
    background-color:rgb(197, 62, 209);
    border: transparent;
    color: black;
  }