
.theme-bg-surface{
    background-color: #F6F1F1 !important;
}

.theme-bg-primary{
    background-color: #FFFFFF !important;
}

.theme-bg-secondary{
    background-color: #19A7CE !important;
}

.theme-bg-tertiary{
    background-color: #146C94 !important;
}

.theme-bg-text{
    color: #146C94 !important;
}

.form-textarea{
    height: 125px !important;
}
.sample{
    background-color: gray;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .pagination .page-item {
    margin-right: 0.5rem;
  }

  .pagination .page-item.disabled .page-link {
    display: none;
  }

  .pagination .page-item.disabled + li.page-item:not(.active) {
    margin-left: -0.5rem;
  }

  .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
  }